@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #001f62, #3d0092, #780038);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}